{{define "base"}}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{.Language}}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{.Language}}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{.Language}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{.Language}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "header" .}}
  </head>
  <body>
		{{template "menu" .}}
		{{template "body" .}}
		<footer>{{template "footer" .}}</footer>
  </body>
</html>
{{end}}